@use "styles/color";
@use "styles/font";
@use "styles/layout";

@mixin button-color(
  $color: color.$black,
  $background-color: color.$white,
  $border: color.$black
) {
  color: $color;
  background-color: $background-color;
  border: 3px solid $border;
  box-shadow: $border 0 10px;

  &:hover {
    color: $color;
    background-color: $background-color;
    box-shadow: color.$indigo 0 10px;
    border-color: color.$indigo;
  }
}

.button {
  outline: none;
  height: 72px;
  width: 100%;
  min-width: 295px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  @include font.heading("md");

  // colors for text,bg and borders
  &--black {
    @include button-color();
  }
  &--light-coral {
    @include button-color(color.$white, color.$light-coral);
  }
  &--mustard-yellow {
    @include button-color(color.$black, color.$mustard-yellow);
  }
  &--disabled {
    pointer-events: none;
    @include button-color(color.$black, color.$gray, color.$black);
  }

  // text align
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.check-button {
  all: unset;
}

.simple-button {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;

  @include font.heading("xs");
  color: color.$white;
  background-color: color.$light-coral;

  &:hover {
    background-color: color.$indigo;
  }
}

.button__tooltip:hover {
  display: none;
  position: absolute;
  padding: 10px;
  @include font.heading("sm");
  color: color.$white;
  border-radius: 16px;
  border: 3px solid color.$black;
  right: 0;
  background-color: color.$light-coral;
  transform: translateX(calc(100% + 12px));
}
