@use "styles/color";
@use "styles/font";
@use "styles/layout";
@use "styles/mixin";

$textAlign: ("left", "center", "right");

@mixin button-color(
  $color: color.$black,
  $background-color: color.$white,
  $border: color.$black
) {
  color: $color;
  background-color: $background-color;
  border: 3px solid $border;
  box-shadow: $border 0 10px;
}

@mixin hover(
  $color: color.$black,
  $background-color: color.$white,
  $border: color.$indigo
) {
  &:hover {
    color: $color;
    background-color: $background-color;
    box-shadow: $border 0 10px;
    border-color: $border;
  }
}

.button {
  position: relative;
  height: 72px;
  width: 100%;
  min-width: 260px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

  @include font.heading("md");

  // colors for text,bg and borders
  &--black {
    @include button-color();
    @include hover();
  }
  &--light-coral {
    @include button-color(color.$white, color.$light-coral);
    @include hover(color.$white, color.$light-coral);
  }
  &--mustard-yellow {
    @include button-color(color.$black, color.$mustard-yellow);
    @include hover(color.$black, color.$mustard-yellow);
  }

  &--disabled {
    @include button-color(color.$black, color.$gray, color.$black);
    @include hover(color.$black, color.$gray, color.$black);
  }

  // text align
  @each $align in $textAlign {
    &--#{$align} {
      text-align: $align;
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tooltip {
    visibility: hidden;
    position: absolute;
    padding: 10px;
    @include font.heading("sm");
    color: color.$white;
    border-radius: 16px;
    border: 3px solid color.$black;
    background-color: color.$light-coral;
    right: 20%;

    @include layout.tablet {
      right: 0;
      transform: translateX(calc(100% + 12px));
    }
  }

  &:hover &__tooltip {
    visibility: visible;
  }
}

.check-button {
  all: unset;
}

.simple-button {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;

  @include font.heading("xs");
  color: color.$white;
  background-color: color.$light-coral;

  &:hover {
    background-color: color.$indigo;
  }
}
