@use "sass:list";
@use "sass:map";

@mixin heading($size, $family: "Space Grotesk") {
  $sizes: "xs", "s", "m", "l";
  $font-sizes: (
    "xs": 16px,
    "s": 20px,
    "m": 24px,
    "l": 56px,
  );
  $line-heights: (
    "xs": 21px,
    "s": 26px,
    "m": 31px,
    "l": 71px,
  );

  @if not list.index($sizes, $size) {
    @error "#{$size} is not a valid size. Expected one of #{$sizes}.";
  }
  font-family: $family, sans-serif;
  font-size: map.get($font-sizes, $size);
  line-height: map.get($line-heights, $size);
  font-weight: bold;
}

@mixin body($size: "m", $family: "Space Grotesk") {
  $sizes: "m";
  $font-sizes: (
    "m": 16px,
  );
  $line-heights: (
    "m": 21px,
  );

  @if not list.index($sizes, $size) {
    @error "#{$size} is not a valid size. Expected one of #{$sizes}.";
  }
  font-family: $family, sans-serif;
  font-size: map.get($font-sizes, $size);
  line-height: map.get($line-heights, $size);
  font-weight: normal;
}
