@use "sass:meta";
@use "sass:string";
@use "./color";

@mixin generateColorClassNames($className, $properties...) {
  @each $name, $value in meta.module-variables("color") {
    #{$className}--#{$name} {
      @each $property in $properties {
        #{string.unquote($property)}: $value;
        @content;
      }
    }
  }
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
