@use "styles/color";

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;

  span {
    width: min-content;
    &:first-child {
      place-self: flex-start;
    }
    &:last-child {
      place-self: flex-end;
    }
  }

  div {
    place-self: center;
    width: min-content;
    cursor: pointer;
  }

  &__button {
    min-width: 110px;
    //text-wrap: nowrap;
    max-width: 100%;
    background-color: color.$indigo;
    &:hover {
      background-color: color.$light-coral;
    }
  }
}
