@use "styles/layout" as l;

.logo-icon,
.check-icon {
  &-s {
    height: 40px;
    width: 40px;
  }
  &-m {
    height: 52px;
    width: 52px;
  }
  &-l {
    height: 64px;
    width: 64px;
  }
}

.pvp-icon,
.pve-icon {
  &-s {
    width: 40px;
  }
  &-m {
    width: 80px;
  }
  &-l {
    width: 120px;
  }
}

.counter {
  &-small {
    display: block;
  }
  &-large {
    display: none;
  }
  @media only screen and (min-width: l.$desktop) {
    &-small {
      display: none;
    }
    &-large {
      display: block;
    }
  }
}
