@use "styles/font";
@use "styles/color";

.input {
  height: 72px;
  width: 100%;
  min-width: 260px;
  padding-left: 20px;
  padding-right: 20px;

  @include font.heading("md");
  outline: none;
  border: 3px solid color.$black;
  box-shadow: color.$black 0 10px;
  border-radius: 20px;

  background: color.$white;
  cursor: pointer;
}
