@use "styles/color";
@use "styles/font";
@use "styles/layout";

.container {
  display: flex;
  justify-content: center;
}

.game {
  width: fit-content;

  &__score {
    display: flex;
    justify-content: space-between;
  }

  &__board {
    position: relative;
    &__area {
    }
    &__timer {
      position: absolute;
      left: 50%;
      bottom: 8%;
      transform: translate(-50%, 100%);
    }
  }
}

//small phone to small tablet
@media only screen and (max-width: layout.$tablet) {
  .game {
    &__nav,
    &__score,
    &__board {
      margin-top: 50px;
    }
  }
}
//small tablet to desktop
@media only screen and (min-width: layout.$tablet) {
  .game {
    &__nav {
      margin-top: 30px;
      &__logo {
        width: 52px;
        height: 52px;
      }
    }
    &__score,
    &__board {
      margin-top: 32px;
    }
  }
}
//desktop
@media only screen and (min-width: layout.$desktop) {
  .game {
    position: relative;

    &__score {
      position: absolute;
      width: 1100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__board {
      margin-top: 50px;
    }
  }
}
