@use "styles/colors" as c;
@use "styles/fonts" as f;
@use "styles/layout" as l;

.container {
  display: flex;
  justify-content: center;
}

.game {
  width: fit-content;

  &-score {
    display: flex;
    justify-content: space-between;
  }

  &-board {
    position: relative;
    &-area {
    }
    &-timer {
      position: absolute;
      left: 50%;
      bottom: 8%;
      transform: translate(-50%, 100%);
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
  }

  &-button {
    width: 110px;
    background-color: c.$indigo;
    &:hover {
      background-color: c.$light-coral;
    }
  }
}

.play-area {
  position: relative;
  width: fit-content;
  height: fit-content;

  &-marker {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;

    //@each marker right px
  }

  &-body {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);

    &-column {
      height: 100%;
      width: calc(100% / 7);
    }
  }
}

//small phone to small tablet
@media only screen and (max-width: l.$tablet) {
  .game {
    &-nav,
    &-score,
    &-board {
      margin-top: 50px;
    }
  }
}
//small tablet to desktop
@media only screen and (min-width: l.$tablet) {
  .game {
    &-nav {
      margin-top: 30px;
      &-logo {
        width: 52px;
        height: 52px;
      }
    }
    &-score,
    &-board {
      margin-top: 32px;
    }
  }
}
//desktop
@media only screen and (min-width: l.$desktop) {
  .game {
    position: relative;

    &-score {
      position: absolute;
      width: 1100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-board {
      margin-top: 50px;
    }
  }
}
