@use "styles/color";
@use "styles/font";
@use "styles/layout";

.game-rules {
  background-color: color.$white;
  padding: 20px;
  @include layout.tablet {
    padding: 30px 20px;
  }
  @include layout.desktop {
    padding: 30px 35px;
  }

  h2 {
    @include font.heading("lg");
    text-align: center;
    text-transform: uppercase;
  }

  h5 {
    @include font.heading("sm");
    color: color.$medium-purple;
    margin-top: 24px;
  }

  p {
    margin-top: 16px;
    @include font.body("xs");
  }

  ol {
    list-style-type: none;
    counter-reset: ol-counter;
    position: relative;
    margin-bottom: 12px;
    li {
      margin-top: 16px;
      margin-left: 28px;
      &:before {
        @include font.heading("xs");
        content: counter(ol-counter);
        position: absolute;
        left: 0;
        counter-increment: ol-counter;
      }
    }
  }
}
