@use "styles/layout";

.board-image {
  position: relative;

  &--small {
    display: block;
    @include layout.tablet {
      display: none;
    }
  }
  &--large {
    display: none;
    @include layout.tablet {
      display: block;
    }
  }

  &--white {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  &--black {
    z-index: 1;
  }
}
